<div class="todolist">
  <%= content_tag(:span, "#{@todolist.list_name} (#{@todolist.list_due_date})",
    class: "todolist_link") %>
  <%= link_to 'Edit Todo List', edit_todolist_path(@todolist) %>
</div>

<p/>

<div id="todoitems">
  <%= render @todolist.todoitems %>
</div>

</p>

<div>
  <%= form_for([@todolist, @todolist.todoitems.new]) do |f| %>
    <div class="actions">
      <%= f.submit "Create New Todo Item for this list with info below:" %>
    </div>
    <div class="field">
      <%= f.label :task_title %>
      <%= f.text_field :task_title %>
    </div>
      <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, size: "40x12" %>
    </div>
  <% end %>
</div>

</p>

<%= link_to 'Back to To Do Lists', todolists_path %>